<h2><%= @user.name %>さんのタスク</h2>

<%# フォームの配置(form_with) %>
<%= form_with model: @task do |f| %>
<table>
    <tr>
        <th><%= f.label :タスク登録 %></th>
        <td><%= f.text_field :content %></td>
        <td colspan="1"><%= f.submit '保存する' %></td>
    </tr>
</table>
<% end %>

<%# 一覧表示＆削除メソッドの配置 %>

<table>
    <tr>
        <td><%= link_to 'todo一覧', users_show_path(status: 1) %></td>
        <td><%= link_to 'doing一覧', users_show_path(status: 2) %></td>
        <td><%= link_to 'done一覧', users_show_path(status: 3) %></td>
        <td><%= link_to 'done一括削除', users_destroy_all_path, 
        method: :delete, data: { confirm: '本当に削除しますか？'} %></td> 
    </tr>
</table>


<%# テーブルの配置 %>
<table>
    <tr>
        <th>id</th>
        <th>タスク内容</th>
        <th>登録日時</th>
        <th>編集</th>
        <th>削除</th>
        <th>ステータス</th>
    </tr>
    <% @tasks.each do |t| %>
    <tr>
        <td><%= t.id %></td>
        <td><%= t.content %></td>
        <td><%= t.created_at %></td>
        <td><%= link_to '編集', edit_task_path(t) %></td>
        <td><%= link_to '削除', task_path(t), method: :delete, 
        data: { confirm: '本当に削除しますか？'} %></td>
        <td><%= form_with model: t do |f| %>
            <%= f.select :status, {'todo': 1, 'doing': 2, 'done': 3} %>
            <%= f.submit "更新" %>
            <% end %></td>
    </tr>
    <% end %>
</table>

  <%= paginate @tasks %>